* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
  }
  a{ 
    text-decoration: none;
  }
  html {
    /*variaveis*/
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --primary-color-dark: #364FC7;
  }
  
  body.dark-blue {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
  }
  
  body.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
  }
  
  body.green {
    --bg-color: #2e8b57;
    --text-color:#132c0d;
    --primary-color: #132c0d ;
    --primary-color-dark: #93bf85;
  }
  
  .logos{
    position: relative;
    margin-top: 30px;
  }

  .logo-museu {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
    
  }

  .logo-proec{
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
  }
  
  body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family:'Roboto', sans-serif;
  }
  .container {
   text-align: center;
   width: 300px;
   margin: 60px auto;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 3.7px;
    border: var(--primary-color) solid 3px;
  }
  
  h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  .username {
    font-family: 'Roboto Mono', monospace;
    opacity: 0.8;
    font-size: 18px;
  }
  
  .descricao{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: justify;
  }
  ul {
    list-style: none;
    margin: 48px 0;
    margin-top: 10px;
  }
  
  ul li a {
    display: flex;
    height: 53px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
  
    margin-bottom: 16px ;
    border-radius: 6px;
    transition: 400ms;
  }
  
  ul li a:hover {
    background: var(--primary-color-dark);
  }
  
  footer{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: 400ms;
  }
  
  footer:hover {
    opacity: 1;
  }
  
  footer a {
    color: var(--text-color);
  }